.post-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Khoảng cách giữa các bài viết */
}

/* Pagination */
.ant-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .post {
        flex-direction: column;
        align-items: flex-start;
    }

    .entry-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .entry-content {
        width: 100%;
    }

    .entry-meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}